<footer>
	<div class="row">
		<div class="col-12">
			<ul class="footer-ul">
				<li class="footer-item">
					<a class="footer-link" href="#"><i class="fab fa-facebook-square"></i></a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#"><i class="fab fa-twitter-square"></i></a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#"><i class="fab fa-instagram-square"></i></a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#"><i class="fab fa-imdb"></i></a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#"><i class="fab fa-reddit-square"></i></a>
				</li>
			</ul>
			<p class="copyright">
				Copyright &copy; 2020 Film Dazzle. | Web Development: Naim Sedan
			</p>
		</div>
	</div>
</footer>