{% extends 'index.html' %} {% block body %}
<section class="container">
    <div class="box-office">
        <h3>Top 100: Box Office</h3>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Rank</th>
                    <th scope="col">Movie Title</th>
                    <th scope="col">World Gross</th>
                    <th class="text-center boxoffice-year" scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                {% for title_gross in boxoffice %}
                <tr>
                    <th class="text-center rank" scope="row">{{title_gross.rank}}</th>
                    <td><a href="{{url_for('add_title', users_choice=title_gross.imdb_id)}}">{{title_gross.title}}</a></td>
                    <td>{{title_gross.worldwide_gross}}</td>
                    <td class="text-center boxoffice-year">{{title_gross.year}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
	<nav>
		<ul class="pagination justify-content-center">
			<li><a class="btn btn-secondary rounded-0 pag-btn" id="pag1" href="?page=1&offset=0">1</a></li>
			<li><a class="btn btn-secondary rounded-0 pag-btn" id="pag2" href="?page=2&offset=25">2</a></li>
			<li><a class="btn btn-secondary rounded-0 pag-btn" id="pag3" href="?page=3&offset=50">3</a></li>
            <li><a class="btn btn-secondary rounded-0 pag-btn" id="pag4" href="?page=4&offset=75">4</a></li>
		</ul>
	</nav>
</section>
{% endblock %}
