<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Naim Sedan" />
    <meta
      name="image"
      property="og:image"
      content="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/s960x960/120411748_10217184307509547_5471133854302867003_o.jpg?_nc_cat=100&_nc_sid=730e14&_nc_ohc=Q1_i_Wvi7BgAX980uCz&_nc_ht=scontent-lht6-1.xx&tp=7&oh=cfa3909ef3fd4554b96e57a92578b634&oe=5F991E9F"
    />
    <meta
      name="description"
      property="og:description"
      content="A Full-Stack website to search movies, leave reaviews and rate them. Mainly developed with Python, MongoDB, Flask and Sass"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon/favicon.png') }}"
    />
    <script
      src="https://kit.fontawesome.com/772e52f795.js"
      crossorigin="anonymous"
    ></script>
    <title>Film Dazzle | Ratings, Reviews and More</title>
  </head>

  <body>
    <div class="container-md">
      {% include 'includes/_navbar.html' %} {% block body %} {% include
      'includes/_carousel.html' %} {% include 'includes/_popular.html' %} {%
      include 'includes/_boxoffice.html' %} {% endblock%} {% include
      'includes/_footer.html' %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
