{% extends 'index.html' %}
{% block body %}
    <section class="text-center">
        <form class="form-signin shadow-lg p-3 mb-5 bg-white rounded" method="POST" action="{{ url_for('login') }}">
            <img class="mb-2" src="{{ url_for('static', filename='favicon/favicon.png') }}" alt="Film Dazzle."/>
            <h1 class="h3 mb-3">Log In</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="username" id="username" name="username" class="form-control" placeholder="Username" required/>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
            <button class="btn btn-secondary btn-block" type="submit">
                Submit
            </button>
            <div class="mt-1">
                <span>Don't have an account?</span>
                <a href="{{ url_for('register') }}">Sign up here</a>.
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info mt-2" role="alert">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </section>
{% endblock %}
