{% extends 'index.html' %}
{% block body %}
    <section class="text-center">
        <form class="form-signin">
            <img class="mb-2" src="{{ url_for('static', filename='favicon/favicon.png') }}" alt="Film Dazzle."/>
            <h1 class="h3 mb-3">Sign Up</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="username" id="username" class="form-control" placeholder="Username" required/>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required/>
            <button class="btn btn-secondary btn-block" type="submit">
                Submit
            </button>
        </form>
    </section>
{% endblock %}
