{% extends 'index.html' %}
{% block body %}
    <main class="container">
        <div class="review-block">
            <div class="row">
                <div class="col-12">
                    <div class="ratings">
                        <h2><a class="title-link" href="{{ url_for('title', title_id=title.imdb_id) }}">{{ title.title }}</a></h2>
                        <span><img src="{{ url_for('static', filename='favicon/favicon.png') }}" alt="film dazzle."/>{{ title.users_rating }}</span>
                        <span>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/IMDb_Logo_Square.svg/1200px-IMDb_Logo_Square.svg.png" alt="imdb"/>{{ title.imdb_rating }}
                        </span>
                        <span>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Metacritic_M.png" alt="metascore"/>{{ title.metascore }}
                        </span>
                    </div>
                    <hr/>
                    {% if username %}
                        {% if username == review.user %}
                            <div class="row">
                                <div class="review-title">
                                    <p>{{ review.title }}</p>
                                    <span>- by
                                        <p>{{ review.user }}</p>
                                    </span>
                                    <p>
                                        <img src="{{ url_for('static', filename='favicon/favicon.png') }}" alt="film dazzle."/>{{ review.rating }}<p class="small-point">/5</p>
                                    </p>
                                    <div class="row">
                                        <small class="small-point">Posted on
                                            {{ review.date }}</small>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div>
                                <p class="review-text">{{ review.text }}</p>
                            </div>
                            <a class="btn btn-sm btn-secondary" href="{{ url_for('edit', review_id=review_id) }}" role="button">Edit</a>
                            <a class="btn btn-sm btn-secondary" href="{{ url_for('destroy', review_id=review_id, title_id=title.imdb_id ) }}" role="button">Delete</a>
                        {% else %}
                            <div class="row">
                                <div class="review-title">
                                    <p>{{ review.title }}</p>
                                    <span>- by
                                        <p>{{ review.user }}</p>
                                    </span>
                                    <p>
                                        <img src="{{ url_for('static', filename='favicon/favicon.png') }}" alt="film dazzle."/>{{ review.rating }}<p class="small-point">/5</p>
                                    </p>
                                    <div class="row">
                                        <small class="small-point">Posted on
                                            {{ review.date }}</small>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div>
                                <p class="review-text">{{ review.text }}</p>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="row">
                            <div class="review-title">
                                <p>{{ review.title }}</p>
                                <span>- by
                                    <p>{{ review.user }}</p>
                                </span>
                                <p>
                                    <img src="{{ url_for('static', filename='favicon/favicon.png') }}" alt="film dazzle."/>{{ review.rating }}<p class="small-point">/5</p>
                                </p>
                                <div class="row">
                                    <small class="small-point">Posted on
                                        {{ review.date }}</small>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div>
                            <p class="review-text">{{ review.text }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
